@using Nop.Core.Domain.Common;
@model RemindersModel

@inject AdminAreaSettings adminAreaSettings

@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;
}

<div class="card-body">
@*    @{
        await Html.RenderPartialAsync("Table", new DataTablesModel
            {
                Name = "reminder-excluded-customers-grid",
                UrlRead = new DataUrl("ReminderExcludedCustomerList", "RemindersAdmin", new RouteValueDictionary { ["reminderId"] = Model.Id }),
                UrlDelete = new DataUrl("ReminderExcludedCustomerDelete", "RemindersAdmin", null),
                Length = defaultGridPageSize,
                LengthMenu = gridPageSizes,
                ColumnCollection = new List<ColumnProperty>
    {
    new ColumnProperty(nameof(ReminderExcludedCustomerModel.CustomerName))
    {
    Title = T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.ReminderExcludedCustomer.CustomerName").Text
    },
    new ColumnProperty(nameof(ReminderExcludedCustomerModel.CustomerEmail))
    {
    Title = T("SevenSpikes.Plugins.CustomerReminders.Admin.Reminder.ReminderExcludedCustomer.CustomerEmail").Text
    },
    new ColumnProperty(nameof(ReminderExcludedCustomerModel.Id))
    {
    Render = new RenderButtonRemove(T("Admin.Common.Delete").Text),
    Width = "200"
    }
    }
            });
    }*@
</div>
<div class="card-footer">
    <a asp-controller="RemindersAdmin" asp-action="AddNewExcludedCustomer" class="btn btn-primary">
        <i class="fas fa-plus-square"></i>
        Add New Customer
    </a>
    @*    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnRefreshReminderExcludedCustomer').click(function () {

                $('.data-tables-refresh button').click();

                //return false to don't reload a page
                return false;
            });
        });
    </script>*@
</div>